@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "template";
@import "../../../node_modules/font-awesome/scss/_variables";
@import "../../../node_modules/font-awesome/scss/_mixins";
@import "../../../node_modules/font-awesome/scss/_path";
@import "../../../node_modules/font-awesome/scss/_core";
@import "../../../node_modules/font-awesome/scss/_larger";
@import "../../../node_modules/font-awesome/scss/_fixed-width";
@import "../../../node_modules/font-awesome/scss/_list";
@import "../../../node_modules/font-awesome/scss/_bordered-pulled";
@import "../../../node_modules/font-awesome/scss/_animated";
@import "../../../node_modules/font-awesome/scss/_rotated-flipped";
@import "../../../node_modules/font-awesome/scss/_stacked";
@import "../../../node_modules/font-awesome/scss/_icons";
@import "../../../node_modules/font-awesome/scss/_screen-reader";

@each $name, $colors in $component-colors {
    a.bg-#{$name}, p.bg-#{$name} {
        color: map-get($colors, font) !important;
    }
    
    .panel-#{$name} {
        border-color: map-get($colors, base) !important;
        .panel-heading {
            color: map-get($colors, font) !important;
            background-color: map-get($colors, base) !important;
            .panel-title {
                a {
                    color: map-get($colors, font) !important;
                }
                a:hover {
                    color: map-get($colors, font) !important;
                }
            }
        }
    }
}
@each $pad in 5 10 15 20 25 30 {
    .force-padding-#{$pad} {
        padding: #{$pad}px !important;
    }
    
    .force-margin-#{$pad} {
        padding: #{$pad}px !important;
    }
}

.btn[disabled] {
    opacity: .4 !important;
}

.dropzone {
    min-height: 430px !important;
    border: none !important;
    .dz-custom-message {
        color: #888 !important;
        .drag-and-drop {
            font-size: 800%;
            color: #ddd;
        }
    }
}

.dropzone.dz-small {
    min-height: 233px !important;
    border: solid 1px #cecece !important;
    .dz-custom-message {
        color: #888 !important;
        .drag-and-drop {
            font-size: 400%;
            color: #ddd;
        }
        h1 {
            font-size: 20px !important;
        }
    }
}

.loading-message {
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: 8px !important;
}

.form-control .fileinput-filename {
    height: 20px;
    max-width: 190px;
}
.radio-inline {
    input[type=radio] {
        position: inherit !important;
        margin-left: 0px !important;
    }
}

.border-left {
    border-left: 1px solid #e7ecf1
}

.scroller-xy {
    overflow-y: auto;
    overflow-x: auto;
    height: 400px;
}

.scroller-y {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}

.scroller-x {
    overflow-y: hidden;
    overflow-x: auto;
    height: 400px;
}



#image-editor-container {
    img {
        max-width: 100%;
    }
}

.cropper-data {
    .input-group {
        margin-bottom: 4px;
        label {
            min-width: 80px !important;
        }

        span {
            min-width: 80px !important;
        }
    }
}

.img-preview {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.preview-lg {
    width: 263px;
    height: 148px;
}

.preview-md {
    width: 139px;
    height: 78px;
}

.preview-sm {
    width: 69px;
    height: 39px;
}

.preview-xs {
    width: 35px;
    height: 20px;
    margin-right: 0;
}

.file-icon-container {
    /*    display: inline-table; */
    margin-top: 20px !important;
    padding: 0;
}

.file-icon-background {
    width: 98px;
    height: 128px;
    display: inline-table;
    background-image: url("/img/webdisco_fileicon.png");

    .file-icon-extension {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding-top: 50px;
    }
}

.file-icon-background-small {
    width: 64px;
    height: 48px;
    display: inline-table;

    .file-icon-extension {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding-top: 15px;
    }
}



.file-icon-name {
    font-size: 90%;
    height: 34px;
    overflow: hidden;
}

.webdisco-file-item {
    text-decoration: none !important;
}

.webdisco-file-item-block {
    display: block;
}

.webdisco-file:hover .file-icon-name {
    color: #f00;
}

.webdisco-icon-default {
    background-color: #ddd !important;
}

.webdisco-icon-documento {
    background-color: #009dc7 !important;
}

.webdisco-icon-pdf {
    background-color: #a1161f !important;
}

.webdisco-icon-planilha {
    background-color: #009926 !important;
}

.webdisco-icon-apresentacao {
    background-color: #18666d !important;
}

.webdisco-icon-compactado {
    background-color: #674d79 !important;
}

.webdisco-icon-audio {
    background-color: #924dae !important;
}

.webdisco-icon-video {
    background-color: #1c94c4 !important;
}

.webdisco-thumbnail {
    width: 100%;
    height: 128px;
    overflow: hidden;
    img {
        width: 100%;
        border: 0px;
    }
}

.webdisco-thumbnail.webdisco-thumbnail-small {
    height: 48px !important;
}

.webdisco-inline-item {
    position:relative;
    padding: 20px 0px 6px 12px;
    display:inline-block;
    .webdisco-badge{
        position: absolute;
        right:-20px;
        top:10px;
        text-align: center;
        padding:5px 10px;
    }
}

.dataTables_processing {
    height: auto !important;
}


.paginate_button {
    padding: 0 !important;
}
.paginate_button:hover {
    border: solid 1px transparent !important;
    background-color: inherit !important;
    background: inherit !important;
}

.modal-open .datepicker {
    z-index: 999!important;
}

.custom-multiselect {
    width: auto !important;
    .ms-selectable {
        width: 48% !important;
    }
    .ms-selection {
        width: 48% !important;
    }
}

.bootstrap-tagsinput {
    display: inherit !important;
    .tag {
        color: $text-color !important;
        background-color: lighten($text-color, 60%) !important;
        padding: 0px 3px;
    }
}
