.grid-container {

    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    @each $size in 25 50 75 100 {
        .grid-row-#{$size} {
            position: relative;
            float: left;
            border: $grid-default-border;
            width: 100%;
            height: #{$size}#{'%'};
            overflow: hidden;
            background-color: $grid-default-bgcolor;
        }
        .grid-col-#{$size} {
            position: relative;
            float: left;
            border: $grid-default-border;
            height: 100%;
            width: #{$size}#{'%'};
            overflow: hidden;
            background-color: $grid-default-bgcolor;
        }
    }
    
    @each $width in 1 2 3 4 5 {
        .border-#{$width} {
            border: #{$width}#{'px'} solid !important;
        }
    }
    
    @each $width in 5 10 15 20 25 30 35 40 45 50 {
        .border-radius-#{$width} {
            border-radius: #{$width}#{'px'} !important;
        }
    }
    
    a {
        color: $grid-default-link-color !important;
    }

    .grid-content {
        &.text-center {
            text-align: center !important;
        }

        &.text-left {
            text-align: left !important;
        }

        &.text-right {
            text-align: right !important;
        }

        &.text-justify {
            text-align: justify !important;
        }

        padding: $grid-default-content-padding;
                
    }

    .data-header {
        font-size: 80% !important;
        font-weight: bold important;
        color: $grid-default-header-color;
    }

    .data-description {
        color: lighten($grid-default-description-color,40%);
    }

    .data-image {
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover !important;
        background-repeat: no-repeat;
        background-color: #cecece;
    }
}

