// Global settings
$theme-style: 'square';
$theme-type:  'default';

@import 'metronic/global/_variables'; // global metronic framework variables
@import 'metronic/global/components/_mixins'; // global metronic framework mixings

@import 'metronic/global/_components';
@import 'metronic/global/_plugins';

//## Main Layout CSS Builder

@import 'metronic/layouts/_variables'; // theme level variables
@import 'metronic/layouts/_custom'; // theme level variables
//@import 'metronic/layouts/themes/_grey';
@import 'metronic/layouts/themes/_darkblue';

@import 'metronic/layouts/layout/_print'; // print layout
@import 'metronic/layouts/layout/_header'; // page header
@import 'metronic/layouts/layout/_page-container'; // page main container
@import 'metronic/layouts/layout/_sidebar';  // page sidebar
@import 'metronic/layouts/layout/_content'; // page consnde
@import 'metronic/layouts/layout/_footer';   // page footer
@import 'metronic/layouts/layout/_theme-panel';  // theme customizer panel
@import 'metronic/layouts/layout/_quick-sidebar';  // quick sidebar toggler

@import 'metronic/layouts/quick-sidebar/_quick-sidebar';  // quick sidebar content

/***
Page Loading
***/

.page-on-load {
	background: #fefefe;

	.page-header,
	.page-container,
	.page-footer,
	> .clearfix {
		display: none;
		transition: all 2s;
	}
}
