/* grid defaults */
$grid-hover-outline:                3px solid #BFCAD1;
$grid-selected-outline:             3px solid #5E738B;
$grid-default-bgcolor:              #ffffff;
$grid-default-border:               0;
$grid-default-content-padding:      5px;
$grid-default-header-color:         #880000;
$grid-default-text-color:           #333333;
$grid-default-link-color:           #333333;
$grid-default-description-color:    lighten($grid-default-text-color, 10%);
