.template-border-container {
    border: dashed 1px #cecece;
    padding: 5px 0px;

}
.template-container {
    width: 1080px !important;
    .template-container-target {
        margin-top: 10px;
        padding: 10px 0px;
        background-color: #fff;
    }
}

.grid-stack {
    min-height: 120px;
}

.grid-stack-item-content {
    &.clickable {
        cursor: pointer !important;
    }
    &.hover {
        &:hover {
            outline: $grid-hover-outline;
        }
    }

    &.selected {
        outline: $grid-selected-outline;
    }
}

.grid-stack-item-removing {
    opacity: 0.5;
}

.grid-toolbar {

    &.block-mode {
        margin: 77px 0px 20px 0px;
    }

    &.edit-mode {
        margin: 62px 0px 20px 0px;
    }

}

.trash {
    border: dashed 1px #ccc;
    padding: 5px;

    &.disabled {
        @include opacity(0.3);
    }
}

.layout-thumb {
    margin-left: 5px;
}

.panel-body{
    &.no-margin {
        margin: 0px !important;
    }

    &.no-padding {
        padding: 0px !important;
    }

    .blocked {
        opacity: 0.2;
    }
    
    .no-fit {
        opacity: 0.6;
        font-style: italic;
    }
}

.builder-panel-layout {
    a {
        display: block;
        border-bottom: solid 1px $general-panel-border-color;
        text-decoration: none !important;
        .panel-list-item-content {
            padding: 10px;
            p {
                margin: 0px;
            }
        }
    }
}

.grid-badges {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    z-index: 100;
}
