.webdisco-selected {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e5e0+100&0+18,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(250,250,249,0) 18%, rgba(225,229,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(250,250,249,0) 18%,rgba(225,229,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(250,250,249,0) 18%,rgba(225,229,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e1e5e0',GradientType=0 ); /* IE6-9 */
}

.webdisco-toolbar-container {
    width: 900px; 
    text-align: right
}
