<div class="grid-container">
    <a class="grid-link">
        <div class="grid-col-100">
            <div class="grid-row-75" data-content-type="image">
                <div class="data-image"></div>
            </div>
            <div class="grid-row-25" data-content-type="text">
                <div class="grid-content text-left">
                    <div class="data-header">LOREM IPSUM</div>
                    <div class="data-title"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3></div>
                </div>
            </div>
        </div>
    </a>
</div>