<div class="grid-container">
    <a class="grid-link">
        <div class="grid-row-100">
            <div class="grid-col-50" data-content-type="text">
                <div class="grid-content text-left">
                    <div class="data-header">LOREM IPSUM</div>
                    <div class="data-title"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3></div>
                    <div class="data-description">Maecenas euismod orci eu eros dignissim, maximus posuere est congue. Donec quis metus vel lacus interdum accumsan at vel erat. Vivamus laoreet quam velit, id venenatis nulla maximus et. </div>
                </div>
            </div>
            <div class="grid-col-50" data-content-type="image">
                <div class="data-image"></div>
            </div>
        </div>
    </a>
</div>